// iconos iniciales

.items{
    span{
        &.fi{
            border-radius: 50%;
            border: 4px solid #404040;
            width: 1.8em;
            height: 1.8em;
            display: inline-block;
            align-items: center;
            justify-content: center;
            font-size: 3em;

        }
    }
}

.rs{
    position: fixed;
    z-index: 9;
    bottom: 1em;
    right: 1em;
    a:nth-child(2){
        bottom: 1em;
        right: 2em;
    }
    img{
        width: 3em;
    }
}

@font-face {
    font-family: "Futura";
    src: url("../webfonts/Futura-Bold-font.ttf");
    src: url("../webfonts/Futura-Bold-Italic-font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@include breakpoint('<=small') {
    #boton{
        display: none;
    }
}

.errores{
    color: _palette(color1);
}