    /*
    Flaticon icon font: Flaticon
    Creation date: 13/01/2021 14:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./webfonts/Flaticon.eot");
  src: url("./webfonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./webfonts/Flaticon.woff2") format("woff2"),
       url("./webfonts/Flaticon.woff") format("woff"),
       url("./webfonts/Flaticon.ttf") format("truetype"),
       url("./webfonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./webfonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-tarjeta-de-debito:before { content: "\f100"; }
.flaticon-billetera:before { content: "\f101"; }
.flaticon-informe-de-credito-empresarial:before { content: "\f102"; }
.flaticon-tarjeta-de-credito:before { content: "\f103"; }
.flaticon-metodo-de-pago:before { content: "\f104"; }
.flaticon-pago-en-efectivo:before { content: "\f105"; }
.flaticon-no-debt:before { content: "\f106"; }
.flaticon-pedir-prestado:before { content: "\f107"; }
.flaticon-cliente:before { content: "\f108"; }
.flaticon-operador:before { content: "\f109"; }
.flaticon-archivos:before { content: "\f10a"; }
.flaticon-rompecabezas:before { content: "\f10b"; }
.flaticon-rompecabezas-1:before { content: "\f10c"; }
.flaticon-garrapata:before { content: "\f10d"; }
.flaticon-cliente-1:before { content: "\f10e"; }
.flaticon-clasificacion:before { content: "\f10f"; }
.flaticon-lealtad:before { content: "\f110"; }
.flaticon-lista-de-verificacion:before { content: "\f111"; }
.flaticon-pregunta:before { content: "\f112"; }
    
    $font-Flaticon-tarjeta-de-debito: "\f100";
    $font-Flaticon-billetera: "\f101";
    $font-Flaticon-informe-de-credito-empresarial: "\f102";
    $font-Flaticon-tarjeta-de-credito: "\f103";
    $font-Flaticon-metodo-de-pago: "\f104";
    $font-Flaticon-pago-en-efectivo: "\f105";
    $font-Flaticon-no-debt: "\f106";
    $font-Flaticon-pedir-prestado: "\f107";
    $font-Flaticon-cliente: "\f108";
    $font-Flaticon-operador: "\f109";
    $font-Flaticon-archivos: "\f10a";
    $font-Flaticon-rompecabezas: "\f10b";
    $font-Flaticon-rompecabezas-1: "\f10c";
    $font-Flaticon-garrapata: "\f10d";
    $font-Flaticon-cliente-1: "\f10e";
    $font-Flaticon-clasificacion: "\f10f";
    $font-Flaticon-lealtad: "\f110";
    $font-Flaticon-lista-de-verificacion: "\f111";
    $font-Flaticon-pregunta: "\f112";